<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title>Index</title>
    <script src="/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/test.js" type="text/javascript" charset="utf-8"></script>
  </head>

  <body>
    <a href="/" id="link_with_one_request">I will do 1 AJAX request</a><br/>
    <a href="/" id="link_with_one_request_and_delay">I will do 1 AJAX request in 200ms</a><br/>
    <a href="/" id="link_with_2_requests">I will do 2 AJAX requests</a><br/>
  </body>
</html>