<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title>Index</title>
    <script src="/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/test.js" type="text/javascript" charset="utf-8"></script>
  </head>

  <body>
    <div id="console"></div>

    <a href="/" id="link_with_2_requests">I will do 2 AJAX requests</a><br/>

    <script>
      $(document).ready(function() {
        $('#link_with_2_requests').click();
      });
    </script>
  </body>
</html>